<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cloudinary>
            <transformations>
                <cloudinary_fetch_format>1</cloudinary_fetch_format>
                <cloudinary_image_quality>auto</cloudinary_image_quality>
                <cloudinary_image_dpr>2.0</cloudinary_image_dpr>
                <cloudinary_free_transform_global_products_behavior>add</cloudinary_free_transform_global_products_behavior>
            </transformations>
            <configuration>
                <cloudinary_cdn_subdomain>0</cloudinary_cdn_subdomain>
            </configuration>
            <lazyload>
                <enabled>1</enabled>
                <auto_replace_cms_blocks>0</auto_replace_cms_blocks>
                <threshold>500</threshold>
                <effect>fadeIn</effect>
                <placeholder>blur</placeholder>
            </lazyload>
            <advanced>
                <remove_version_number>0</remove_version_number>
                <use_root_path>0</use_root_path>
                <enable_local_mapping>1</enable_local_mapping>
                <cloudinary_scheduled_video_data_import_limit>10</cloudinary_scheduled_video_data_import_limit>
                <product_gallery_api_queue_enabled>1</product_gallery_api_queue_enabled>
                <product_gallery_api_queue_limit>20</product_gallery_api_queue_limit>
                <product_gallery_api_queue_max_tryouts>5</product_gallery_api_queue_max_tryouts>
                <enable_product_free_transformations>1</enable_product_free_transformations>
                <cache_placeholder_enable>0</cache_placeholder_enable>
            </advanced>
            <product_gallery>
                <enabled>0</enabled>
                <themeProps_primary>#ffffff</themeProps_primary>
                <themeProps_onPrimary>#000000</themeProps_onPrimary>
                <themeProps_active>#0078ff</themeProps_active>
                <themeProps_onActive>#ffffff</themeProps_onActive>
                <transition>slide</transition>
                <aspectRatio>square</aspectRatio>
                <navigation>mouseover</navigation>
                <zoom>1</zoom>
                <zoomProps_type>inline</zoomProps_type>
                <zoomProps_viewerPosition>right</zoomProps_viewerPosition>
                <zoomProps_trigger>click</zoomProps_trigger>
                <carouselLocation>left</carouselLocation>
                <carouselOffset>5</carouselOffset>
                <carouselStyle>thumbnails</carouselStyle>
                <thumbnailProps_width>64</thumbnailProps_width>
                <thumbnailProps_height>64</thumbnailProps_height>
                <thumbnailProps_navigationShape>rectangle</thumbnailProps_navigationShape>
                <thumbnailProps_selectedStyle>all</thumbnailProps_selectedStyle>
                <thumbnailProps_selectedBorderPosition>left</thumbnailProps_selectedBorderPosition>
                <thumbnailProps_selectedBorderWidth>2</thumbnailProps_selectedBorderWidth>
                <thumbnailProps_mediaSymbolShape>round</thumbnailProps_mediaSymbolShape>
                <indicatorProps_shape>round</indicatorProps_shape>
                <custom_free_params>{}</custom_free_params>
            </product_gallery>
            <cld_video>
                <enabled>1</enabled>
                <progressive_sourcetypes>webm/vp9,mp4/h265,mp4/h264</progressive_sourcetypes>
            </cld_video>
        </cloudinary>
        <csp>
            <mode>
                <storefront>
                    <report_only>0</report_only>
                </storefront>
                <admin>
                    <report_only>0</report_only>
                </admin>
            </mode>
        </csp>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <catalog_images_folder>catalog</catalog_images_folder> <!-- Show Catalog Folder -->
                    <media_gallery_image_folders>
                        <category_image_folder>catalog/category</category_image_folder> <!--  Show Sub Catalog Folder -->
                        <my_image_folder>cloudinary</my_image_folder>
                        <my_catalog_image_folder>catalog/custom_folder_name</my_catalog_image_folder>
                    </media_gallery_image_folders>
                </allowed_resources>
            </media_storage_configuration>
        </system>
    </default>
</config>
