<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cloudinary_download_images" xsi:type="object">Cloudinary\Cloudinary\Command\DownloadImages</item>
                <item name="cloudinary_upload_images" xsi:type="object">Cloudinary\Cloudinary\Command\UploadImages</item>
                <item name="cloudinary_upload_stop" xsi:type="object">Cloudinary\Cloudinary\Command\StopMigration</item>
                <item name="cloudinary_reset" xsi:type="object">Cloudinary\Cloudinary\Command\ResetAll</item>
                <item name="cloudinary_product_gallery_api_queue" xsi:type="object">Cloudinary\Cloudinary\Command\ProductGalleryApiQueueProcess</item>
            </argument>
        </arguments>
    </type>

    <preference for="Cloudinary\Cloudinary\Core\ImageProvider" type="Cloudinary\Cloudinary\Core\CloudinaryImageProvider"/>

    <preference for="Cloudinary\Cloudinary\Api\SynchronisationRepositoryInterface" type="Cloudinary\Cloudinary\Model\SynchronisationRepository"/>

    <preference for="Cloudinary\Cloudinary\Api\ResourcesManagementInterface" type="Cloudinary\Cloudinary\Model\Api\ResourcesManagement"/>

    <preference for="Cloudinary\Cloudinary\Api\ProductGalleryManagementInterface" type="Cloudinary\Cloudinary\Model\Api\ProductGalleryManagement"/>

    <preference for="Cloudinary\Cloudinary\Core\SynchroniseAssetsRepositoryInterface" type="Cloudinary\Cloudinary\Model\SynchronisationRepository"/>

    <preference for="Cloudinary\Cloudinary\Core\ConfigurationInterface" type="Cloudinary\Cloudinary\Model\Configuration"/>

    <preference for="Cloudinary\Cloudinary\Core\Image\Synchronizable" type="Cloudinary\Cloudinary\Model\Synchronisation"/>

    <preference for="Cloudinary\Cloudinary\Core\Image\SynchronizationCheck" type="Cloudinary\Cloudinary\Model\SynchronisationChecker"/>

    <preference for="Cloudinary\Cloudinary\Core\AutoUploadMapping\AutoUploadConfigurationInterface" type="Cloudinary\Cloudinary\Model\AutoUploadMapping\AutoUploadConfiguration"/>

    <type name="Magento\Widget\Model\Template\Filter">
        <plugin name="cloudinary_plugin_widget_model_template_filter" type="Cloudinary\Cloudinary\Plugin\Widget\Model\Template\Filter"/>
    </type>

    <type name="Magento\Catalog\Helper\Image">
        <plugin name="cloudinary_image_helper_plugin" type="Cloudinary\Cloudinary\Plugin\ImageHelper"/>
    </type>

    <type name="Magento\Catalog\Block\Product\ImageFactory">
        <plugin name="cloudinary_plugin_catalog_block_product_imagefactory" type="Cloudinary\Cloudinary\Plugin\Catalog\Block\Product\ImageFactory"/>
    </type>

    <type name="Magento\Catalog\Model\Product\Image\UrlBuilder">
        <plugin name="cloudinary_plugin_catalog_model_product_image_urlbuilder" type="Cloudinary\Cloudinary\Plugin\Catalog\Model\Product\Image\UrlBuilder"/>
    </type>

    <type name="Magento\Catalog\Model\Product\Media\Config">
        <plugin name="cloudinary_product_media_config_plugin" type="Cloudinary\Cloudinary\Plugin\MediaConfig"/>
    </type>

    <type name="Magento\Framework\File\Uploader">
        <plugin name="cloudinary_file_uploader_plugin" type="Cloudinary\Cloudinary\Plugin\FileUploader"/>
    </type>

    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <plugin name="cloudinary_file_remover_plugin" type="Cloudinary\Cloudinary\Plugin\FileRemover"/>
    </type>

    <type name="Magento\Ui\Component\Form\Element\DataType\Media">
        <plugin name="cloudinary_form_element_media_plugin" type="Cloudinary\Cloudinary\Plugin\Ui\Component\Form\Element\DataType\Media"/>
    </type>

    <type name="Magento\Ui\Component\Form\Element\DataType\Media\Image">
        <plugin name="cloudinary_form_element_media_image_plugin" type="Cloudinary\Cloudinary\Plugin\Ui\Component\Form\Element\DataType\Media\Image"/>
    </type>

    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="cloudinary_plugin_catalog_block_product_view_gallery" type="Cloudinary\Cloudinary\Plugin\Catalog\Block\Product\View\Gallery"/>
    </type>

    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="cloudinary_plugin_framework_view_asset_minification" type="Cloudinary\Cloudinary\Plugin\ExcludeFilesFromMinification" />
    </type>

    <type name="Magento\CatalogImportExport\Model\Import\Uploader">
        <plugin name="cloudinary_plugin_catalogimportexport_uploader" type="Cloudinary\Cloudinary\Plugin\CatalogImportExport\Model\Import\Uploader" />
    </type>

    <type name="Magento\CatalogImportExport\Model\Import\Product\MediaGalleryProcessor">
        <plugin name="cloudinary_plugin_catalogimportexport_product_mediagalleryprocessor" type="Cloudinary\Cloudinary\Plugin\CatalogImportExport\Model\Import\Product\MediaGalleryProcessor" />
    </type>

    <type name="Magento\Catalog\Block\Category\View">
        <plugin name="cloudinary_plugin_block_catalog_category_view" type="Cloudinary\Cloudinary\Plugin\Catalog\Block\Category\View"/>
    </type>

    <type name="Magento\Catalog\ViewModel\Category\Image">
        <plugin name="cloudinary_category_image_url"
                type="Cloudinary\Cloudinary\Plugin\Catalog\Block\Category\Image" />
    </type>

    <type name="Magento\Cms\Block\Block">
        <plugin name="cloudinary_plugin_block_cms_block_block" type="Cloudinary\Cloudinary\Plugin\Cms\Block\Block"/>
    </type>

    <type name="Magento\Cms\Block\Widget\Block">
        <plugin name="cloudinary_plugin_block_cms_block_widget_block" type="Cloudinary\Cloudinary\Plugin\Cms\Block\Widget\Block"/>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="cloudinary_update_swatch_plugin" type="Cloudinary\Cloudinary\Plugin\AttributeSavePlugin" />
    </type>
    <type name="Magento\Swatches\Helper\Media">
        <plugin name="cloudinary_swatch_image_url_plugin" type="Cloudinary\Cloudinary\Plugin\SwatchImageUrlPlugin" />
    </type>
    <type name="Cloudinary\Cloudinary\Model\Logger\CloudinaryHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Cloudinary\Cloudinary\Model\Logger">
        <arguments>
            <argument name="name" xsi:type="string">cloudinaryLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Cloudinary\Cloudinary\Model\Logger\CloudinaryHandler</item>
            </argument>
        </arguments>
    </type>
</config>
