.cloudinary-icon {
    background-image: url('Cloudinary_Cloudinary::images/cloudinary_icon_for_white_bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 22px;
    height: 18px;
    margin-right: 5px;
    vertical-align: text-bottom;
}
.image.image-placeholder.add-from-cloudinary-button .product-image-wrapper:before {
    background-image: url('Cloudinary_Cloudinary::images/cloudinary_icon_for_dark_bg.svg');
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    display: block;
    content: "";
    width: 100%;
    height: 102px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
