.cloudinary-icon {
    background-image: url('Cloudinary_Cloudinary::images/cloudinary_icon_for_white_bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 22px;
    height: 18px;
    margin-right: 5px;
    vertical-align: text-bottom;
}
