<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cloudinary" translate="label" sortOrder="400" class="cloudinary-configuration-tab">
            <label>Cloudinary</label>
        </tab>
        <section id="cloudinary" translate="label" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Settings</label>
            <tab>cloudinary</tab>
            <resource>Cloudinary_Cloudinary::config_cloudinary</resource>
            <group id="cloud" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Enable Extension</label>
                <attribute type="expanded">1</attribute>
                <field id="cloudinary_enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable Cloudinary</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="module_version" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Version</label>
                    <frontend_model>Cloudinary\Cloudinary\Block\Adminhtml\System\Config\ModuleVersion</frontend_model>
                </field>
            </group>
            <group id="setup" translate="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cloudinary Account</label>
                <attribute type="expanded">1</attribute>
                <field id="cloudinary_environment_variable" translate="label comment" type="obscure" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Cloudinary Account Credentials</label>
                    <comment>
                        <![CDATA[Set your Cloudinary account credentials. Copy the "Environment variable" string from the dashboard of <a href="https://cloudinary.com/console" target="_blank" title="Cloudinary's Management Console">Cloudinary's Management Console</a>.<br>Format should be: cloudinary://API_Key:API_Secret@Cloud_Name]]>
                    </comment>
                    <backend_model>Cloudinary\Cloudinary\Model\Config\Backend\Credentials</backend_model>
                </field>
            </group>
            <group id="configuration" translate="label" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cloudinary Setup</label>
                <attribute type="expanded">1</attribute>
                <field id="cloudinary_cdn_subdomain" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Image Delivery Domain Sharding</label>
                    <comment>Enable multiple sub-domains of image delivery URLs for faster page load speed.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cloudinary_auto_upload_mapping_request" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable auto-upload</label>
                    <comment><![CDATA[
                        <p class="note">Automatically upload your existing Magento images to your Cloudinary account when an image is requested by a user. Once enabled, click the button below to map your Magento media directory to your Cloudinary account.</p>
                        <p class="note"><b>Note:</b> Disabling auto upload mapping from Magento will not remove the configuration from Cloudinary. To completely disable your auto upload mapping, navigate to your Cloudinary <a href="https://cloudinary.com/console/lui/settings/upload" target="_blank" title="Cloudinary Upload settings">Upload settings</a> and clear the <b>Auto upload mapping</b> that corresponds to your Magento URLs.</p>]]>
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cloudinary_auto_upload_mapping_button" translate="label comment" type="button" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Cloudinary\Cloudinary\Block\Adminhtml\System\Config\AutoUploadMapping</frontend_model>
                    <depends>
                        <field id="cloudinary_enabled">1</field>
                        <field id="cloudinary_auto_upload_mapping_request">1</field>
                    </depends>
                </field>
            </group>
            <group id="transformations" translate="label" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Default Image Transformations</label>
                <attribute type="expanded">0</attribute>
                <field id="cloudinary_fetch_format" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Automatic Image Format Optimisation</label>
                    <comment>Automatically deliver images converted to modern image formats based on viewing device and browser. For example, deliver WebP on Chrome and JPEG-XR on Internet Explorer for better performance and user experience.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cloudinary_image_quality" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Image Quality</label>
                    <comment>Adjust the quality of generated images to balance visual quality and file size. The quality is relevant for JPEG and WebP compression levels for example.</comment>
                    <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\Quality</source_model>
                </field>
                <field id="cloudinary_gravity" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Image Cropping Gravity</label>
                    <comment><![CDATA[Define the part of the image to focus on when cropping images. For more information on gravity, see the <a href="https://cloudinary.com/documentation/image_transformations#control_gravity" target="_blank" title="Image Cropping Gravity - documentation">documentation</a>.]]></comment>
                    <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\Gravity</source_model>
                </field>
                <field id="cloudinary_image_dpr" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Image Device Pixel Ratio (DPR)</label>
                    <comment>Set the DPR value for your images. A DPR value of 2.0 will generate and deliver hi-res images for better results on HiDPI devices such as Retina Displays.</comment>
                    <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\Dpr</source_model>
                </field>
                <field id="cloudinary_default_image" translate="label comment" type="text" sortOrder="5" showInDefault="4" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Default image</label>
                    <comment>The public ID and file extension of the image to use as a placeholder when an asset no longer exists (e.g. sample.jpg).</comment>
                </field>
                <field id="cloudinary_free_transform_global" translate="label comment" type="text" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Global Custom Transformation</label>
                    <comment><![CDATA[Add global custom transformations in addition to those selected above.<br>Custom transformations will be added to the default image transformations settings chosen above.<br>For information about the full range of transforms available see the <a href="http://cloudinary.com/documentation/image_transformation_reference" target="_blank" title="Cloudinary documentation">Cloudinary documentation</a>.<br>You may need to clear or rebuild the Magento block and full page caches to see the changes in the front end.]]></comment>
                    <backend_model>Cloudinary\Cloudinary\Model\Config\Backend\Free</backend_model>
                    <config_path>cloudinary/transformations/cloudinary_free_transform_global</config_path>
                </field>
                <field id="cloudinary_free_transform_global_products" translate="label comment" type="text" sortOrder="7" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Products Custom Transformation</label>
                    <comment><![CDATA[Same as "Global Custom Transformation" but <b>for products only</b>.<br>
                    *Set the behavior of this field on the dropdown below.]]></comment>
                    <backend_model>Cloudinary\Cloudinary\Model\Config\Backend\Free</backend_model>
                    <config_path>cloudinary/transformations/cloudinary_free_transform_global_products</config_path>
                </field>
                <field id="cloudinary_free_transform_global_products_behavior" translate="label comment" type="select" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Products Custom Transformation Behavior</label>
                    <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\FreeTransformBehavior</source_model>
                    <frontend_model>Cloudinary\Cloudinary\Block\Adminhtml\Form\Field\Free</frontend_model>
                    <config_path>cloudinary/transformations/cloudinary_free_transform_global_products_behavior</config_path>
                </field>
            </group>
            <group id="product_gallery" translate="label" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Gallery</label>
                <attribute type="expanded">0</attribute>
                <field id="pg_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable Cloudinary's Product Gallery</label>
                    <comment><![CDATA[Enable Cloudinary's Product Gallery for product detail pages (override Magento's default). Supports Images, Videos and Spinsets. See <a href="https://cloudinary.com/documentation/product_gallery" target="_blank" title="Product Gallery documentation">Product Gallery documentation</a> for information on the configuration options.<br>*To enable the Product Gallery to access and load your media, ensure that you remove any restrictions on listing resources. To verify this, open the <a href="https://cloudinary.com/console/" target="_blank" title="Cloudinary Console">Cloudinary Console</a>, navigate to Settings and select the Security tab. From here, make sure that “Resource list” is unchecked in the “Restricted media types” option group.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>cloudinary/product_gallery/enabled</config_path>
                </field>
                <group id="themeProps" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Theme Colors</label>
                    <attribute type="expanded">1</attribute>
                    <depends>
                        <field id="cloudinary/product_gallery/pg_enabled">1</field>
                    </depends>
                    <field id="themeProps_primary" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Primary</label>
                        <config_path>cloudinary/product_gallery/themeProps_primary</config_path>
                        <frontend_model>Cloudinary\Cloudinary\Block\Adminhtml\System\Config\Form\Field\ColorPicker</frontend_model>
                        <validate>validate-length minimum-length-4 maximum-length-7</validate>
                    </field>
                    <field id="themeProps_onPrimary" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>onPrimary</label>
                        <config_path>cloudinary/product_gallery/themeProps_onPrimary</config_path>
                        <frontend_model>Cloudinary\Cloudinary\Block\Adminhtml\System\Config\Form\Field\ColorPicker</frontend_model>
                        <validate>validate-length minimum-length-4 maximum-length-7</validate>
                    </field>
                    <field id="themeProps_active" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Active</label>
                        <config_path>cloudinary/product_gallery/themeProps_active</config_path>
                        <frontend_model>Cloudinary\Cloudinary\Block\Adminhtml\System\Config\Form\Field\ColorPicker</frontend_model>
                        <validate>validate-length minimum-length-4 maximum-length-7</validate>
                    </field>
                    <field id="themeProps_onActive" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>onActive</label>
                        <config_path>cloudinary/product_gallery/themeProps_onActive</config_path>
                        <frontend_model>Cloudinary\Cloudinary\Block\Adminhtml\System\Config\Form\Field\ColorPicker</frontend_model>
                        <validate>validate-length minimum-length-4 maximum-length-7</validate>
                    </field>
                </group>
                <group id="main_viewer_parameters" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Main Viewer Parameters</label>
                    <attribute type="expanded">1</attribute>
                    <depends>
                        <field id="cloudinary/product_gallery/pg_enabled">1</field>
                    </depends>
                    <field id="transition" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Fade Transition</label>
                        <config_path>cloudinary/product_gallery/transition</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\Transition</source_model>
                    </field>
                    <field id="aspectRatio" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Aspect Ratio</label>
                        <config_path>cloudinary/product_gallery/aspectRatio</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\AspectRatio</source_model>
                    </field>
                    <field id="navigation" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Navigation</label>
                        <config_path>cloudinary/product_gallery/navigation</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\Navigation</source_model>
                    </field>
                    <field id="zoom" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Show Zoom</label>
                        <config_path>cloudinary/product_gallery/zoom</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="zoomProps_type" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Zoom Type</label>
                        <config_path>cloudinary/product_gallery/zoomProps_type</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\ZoomType</source_model>
                        <comment>NOTICE: Popup type supports only 'click' trigger type.</comment>
                        <depends>
                            <field id="zoom">1</field>
                        </depends>
                    </field>
                    <field id="zoomProps_viewerPosition" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Zoom Viewer Position</label>
                        <config_path>cloudinary/product_gallery/zoomProps_viewerPosition</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\ZoomViewerPosition</source_model>
                        <depends>
                            <field id="zoom">1</field>
                            <field id="zoomProps_type">flyout</field>
                        </depends>
                    </field>
                    <field id="zoomProps_trigger" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Zoom Trigger</label>
                        <config_path>cloudinary/product_gallery/zoomProps_trigger</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\ZoomTrigger</source_model>
                        <depends>
                            <field id="zoom">1</field>
                        </depends>
                    </field>
                </group>
                <group id="carousel_parameters" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Carousel Parameters</label>
                    <attribute type="expanded">1</attribute>
                    <depends>
                        <field id="cloudinary/product_gallery/pg_enabled">1</field>
                    </depends>
                    <field id="carouselLocation" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Carousel Location</label>
                        <config_path>cloudinary/product_gallery/carouselLocation</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\CarouselLocation</source_model>
                    </field>
                    <field id="carouselOffset" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Carousel Offset</label>
                        <config_path>cloudinary/product_gallery/carouselOffset</config_path>
                        <validate>validate-number</validate>
                    </field>
                    <field id="carouselStyle" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Carousel Style</label>
                        <config_path>cloudinary/product_gallery/carouselStyle</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\CarouselStyle</source_model>
                    </field>
                    <field id="thumbnailProps_width" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Thumbnail Width</label>
                        <config_path>cloudinary/product_gallery/thumbnailProps_width</config_path>
                        <validate>validate-number</validate>
                        <depends>
                            <field id="carouselStyle">thumbnails</field>
                        </depends>
                    </field>
                    <field id="thumbnailProps_height" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Thumbnail Height</label>
                        <config_path>cloudinary/product_gallery/thumbnailProps_height</config_path>
                        <validate>validate-number</validate>
                        <depends>
                            <field id="carouselStyle">thumbnails</field>
                        </depends>
                    </field>
                    <field id="thumbnailProps_navigationShape" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Navigation Button Shape</label>
                        <config_path>cloudinary/product_gallery/thumbnailProps_navigationShape</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\ThumbnailsNavigationShape</source_model>
                        <depends>
                            <field id="carouselStyle">thumbnails</field>
                        </depends>
                    </field>
                    <field id="thumbnailProps_selectedStyle" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Thumbnail Selected Style</label>
                        <config_path>cloudinary/product_gallery/thumbnailProps_selectedStyle</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\ThumbnailsSelectedStyle</source_model>
                        <depends>
                            <field id="carouselStyle">thumbnails</field>
                        </depends>
                    </field>
                    <field id="thumbnailProps_selectedBorderPosition" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Thumbnail Selected Border Position</label>
                        <config_path>cloudinary/product_gallery/thumbnailProps_selectedBorderPosition</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\ThumbnailsSelectedBorderPosition</source_model>
                        <depends>
                            <field id="carouselStyle">thumbnails</field>
                        </depends>
                    </field>
                    <field id="thumbnailProps_selectedBorderWidth" translate="label comment" type="text" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Thumbnail Selected Border Width</label>
                        <config_path>cloudinary/product_gallery/thumbnailProps_selectedBorderWidth</config_path>
                        <validate>validate-number</validate>
                        <depends>
                            <field id="carouselStyle">thumbnails</field>
                        </depends>
                    </field>
                    <field id="thumbnailProps_mediaSymbolShape" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Thumbnail Media Icon Shape</label>
                        <config_path>cloudinary/product_gallery/thumbnailProps_mediaSymbolShape</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\ThumbnailsMediaSymbolShape</source_model>
                        <depends>
                            <field id="carouselStyle">thumbnails</field>
                        </depends>
                    </field>
                    <field id="indicatorProps_shape" translate="label comment" type="select" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Indicators Shape</label>
                        <config_path>cloudinary/product_gallery/indicatorProps_shape</config_path>
                        <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\ProductGallery\IndicatorsShape</source_model>
                        <depends>
                            <field id="carouselStyle">indicators</field>
                        </depends>
                    </field>
                </group>
                <field id="custom_free_params" translate="label comment" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Custom Free Parameters (advanced)</label>
                    <comment>
                        <![CDATA[Custom json to add or override the above parameters.<br>See <a href="https://cloudinary.com/documentation/product_gallery_reference" title="Product Gallery reference" target="_blank">Product Gallery reference</a> for full list of parameters.<br>e.g., {"zoom": true, "thumbnailProps": {"borderColor": "#EBF0F4"}}]]>
                    </comment>
                    <config_path>cloudinary/product_gallery/custom_free_params</config_path>
                    <backend_model>Cloudinary\Cloudinary\Model\Config\Backend\ProductGalleryCustomFreeParams</backend_model>
                    <depends>
                        <field id="cloudinary/product_gallery/pg_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="cld_video" translate="label" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Video Settings</label>
                <attribute type="expanded">1</attribute>
                <depends>
                    <field id="cloudinary/product_gallery/pg_enabled">1</field>
                </depends>
                <!--<field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable Video?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Only Cloudinary video are supported.</comment>
                </field>-->
                <field id="player_type" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Player type</label>
                    <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\Video\Type</source_model>
                </field>
                <field id="use_abr" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Adaptive bitrate streaming (beta)</label>
                    <comment>
                        Adaptive bitrate streaming is a video delivery technique that adjusts the quality of a video stream in real time according to detected bandwidth and CPU capacity.
                    </comment>
                    <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\Video\StreamMode</source_model>
                    <depends>
                        <field id="cloudinary/cld_video/player_type">cloudinary</field>
                    </depends>
                </field>
                <field id="controls" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Show controls</label>
                    <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\Video\Controls</source_model>
                    <depends>
                        <field id="cloudinary/cld_video/player_type">cloudinary</field>
                    </depends>
                </field>
                <field id="sound" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Mute</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="cloudinary/cld_video/player_type">cloudinary</field>
                    </depends>
                    <comment>Whether the video has sound. Default: false
                        Relevant only when controls is not set to 'none'.</comment>
                </field>
                <field id="loop" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Repeat video</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="cloudinary/cld_video/player_type">cloudinary</field>
                    </depends>
                </field>
                <field id="autoplay" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Autoplay</label>
                    <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\Video\Autoplay</source_model>
                    <depends>
                        <field id="cloudinary/cld_video/player_type">cloudinary</field>
                    </depends>
                </field>

            </group>
            <group id="lazyload" translate="label" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Lazyload Settings</label>
                <attribute type="expanded">0</attribute>
                <field id="lazyload_enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable Lazyload</label>
                    <comment><![CDATA[Enable lazyload (using <a href="https://github.com/tuupola/lazyload/tree/1.9.7" target="_blank" title="Lazy Load Plugin for jQuery" >Lazy Load Plugin for jQuery</a>).]]></comment>
                    <config_path>cloudinary/lazyload/enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="lazyload_auto_replace_cms_blocks" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Apply on CMS Blocks</label>
                    <comment>Automatically apply lazyload on CMS blocks.</comment>
                    <config_path>cloudinary/lazyload/auto_replace_cms_blocks</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="lazyload_enabled">1</field>
                    </depends>
                </field>
                <field id="lazyload_ignored_cms_blocks" translate="label comment" type="multiselect" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>CMS Blocks to Exclude</label>
                    <comment>List of CMS blocks to exclude from Lazyloading. Use this if there are conflicts on some of the blocks.</comment>
                    <config_path>cloudinary/lazyload/ignored_cms_blocks</config_path>
                    <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\CmsBlocks</source_model>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="lazyload_enabled">1</field>
                        <field id="lazyload_auto_replace_cms_blocks">1</field>
                    </depends>
                </field>
                <field id="lazyload_threshold" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Lazyload Threshold</label>
                    <comment>The threshold for how many pixels from the top of the page before lazy loading is applied to your images.</comment>
                    <config_path>cloudinary/lazyload/threshold</config_path>
                    <depends>
                        <field id="lazyload_enabled">1</field>
                    </depends>
                </field>
                <field id="lazyload_effect" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Lazyload Effect</label>
                    <comment>The effect to use to show the loaded images.</comment>
                    <config_path>cloudinary/lazyload/effect</config_path>
                    <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\Lazyload\Effect</source_model>
                    <depends>
                        <field id="lazyload_enabled">1</field>
                    </depends>
                </field>
                <field id="lazyload_placeholder" translate="label comment" type="select" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Lazyload Placeholder</label>
                    <comment>The transformation effect that will be used on the images as a loading placeholder.</comment>
                    <config_path>cloudinary/lazyload/placeholder</config_path>
                    <source_model>Cloudinary\Cloudinary\Model\Config\Source\Dropdown\Lazyload\Placeholder</source_model>
                    <depends>
                        <field id="lazyload_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="advanced" translate="label" sortOrder="7" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Advanced</label>
                <attribute type="expanded">0</attribute>
                <field id="remove_version_number" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Remove version number from URLs</label>
                    <comment>Remove version number (e.g., ".../v1/...") from URLs.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_root_path" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Use Root Path</label>
                    <comment>Remove "/image/upload/" from URLs.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_signed_urls" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Use Signed URLs</label>
                    <comment>Use dynamic Cloudinary delivery URLs with a signature that needs to be validated before making it available to view.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_local_mapping" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Use Existing Cloudinary Folder</label>
                    <comment>Map existing Cloudinary assets to their original location to prevent duplication in your Cloudinary Media Library. If set to 'No', assets will be synchronized to a new Cloudinary location based on the local Magento path.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_gallery_api_queue_enabled" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Process Product Gallery API Requests In The Background (add to queue)</label>
                    <comment>When using the rest/V1/cloudinary/products API endpoint, add the requests to queue and process later using a cronjob.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_gallery_api_queue_limit" translate="label comment" type="text" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Product Gallery API Queue - Limit</label>
                    <comment>Maximum queue items to process on each run (0 = no limit).</comment>
                    <depends>
                        <field id="product_gallery_api_queue_enabled">1</field>
                    </depends>
                </field>
                <field id="product_gallery_api_queue_max_tryouts" translate="label comment" type="text" sortOrder="7" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Product Gallery API Queue - Maximum Tryouts</label>
                    <comment>Number of times to try processing the queued item before stopping and adding an error notification on admin (Minimum: 1, Maximum: 20).</comment>
                    <depends>
                        <field id="product_gallery_api_queue_enabled">1</field>
                    </depends>
                </field>
                <field id="enable_product_free_transformations" translate="label comment" type="select" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable Product Free Transformations On Store Front</label>
                    <comment>If not in use on your website, you may spare DB queries on the frontend by setting this to 'No'.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
